<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">Facultades y Programas</h1>
      <p class="lead">Siempre pensado en brindar la mejor calidad</p>
  </div>
</div>


<div class="container shadow px-5 p-5 colorFondo animated fadeIn">
  <div class="d-block m-auto text-center">
      <img src="assets/img/unc.png" class="avatar" alt="" class="img img-fluid img-thumbnail">
      <h2 class="d-block text-center mb-5 mt-2">Universidad Nacional</h2>
  </div>


  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
              <div class="card text-center shadow mb-3">
                  <div class="card-body">
                      <h5 class="card-title"><span class="fas fa-file-signature icono text-info"></span></h5>
                      <p class="card-text">Administración</p>
                      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal1">Ver Programas</a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
              <div class="card text-center shadow mb-3">
                  <div class="card-body">
                      <h5 class="card-title"><span class="far fa-building icono text-info"></span></h5>
                      <p class="card-text">Ingeniería y Arquitectura</p>
                      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal2">Ver Programas</a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
              <div class="card text-center shadow mb-3">
                  <div class="card-body">
                      <h5 class="card-title"><span class="fas fa-child icono text-info"></span></h5>
                      <p class="card-text">Ciencias Sociales y Humanas</p>
                      <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal3">Ver Programas</a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
              <div class="card text-center shadow mb-3">
                  <div class="card-body">
                      <h5 class="card-title"><span class="fas fa-signature icono text-info"></span></h5>
                      <p class="card-text">Ciencias Exactas y Naturales</p>
                      <a href="#" class="btn btn-outline-primary">Ver Programas</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

