<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
      <h1 class="display-4">Administración de empresas</h1>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt nulla, minus voluptatibus molestiae amet in accusamus modi, incidunt quae veritatis impedit a praesentium error asperiores. Non sed error minima soluta.</p>
  </div>
</div>


<div class="container-fluid">
  <div class="row justify-content-md-center">
      <div class="col-md-7 mx-1 p-4 border shadow mt-2">
          <img src="img/adminEmpre.jpg" alt="admin-empresa" class="img img-fluid img-thumbnail shadow d-block m-auto">

          <div class="d-block mt-4 text-center">
              <h5><span class="far fa-file-pdf icono text-info"></span></h5>
              <a href="#" class="btn btn-outline-primary">Descargar el folleto</a>
          </div>

          <div class="accordion mt-5" id="accordionExample">
              <div class="card">
                  <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                          <a class="btn btn-link font-weight-bold" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Sobre el Programa
                          </a>
                      </h5>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                      <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                          beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>

              </div>
              <div class="card">

                  <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                          <a class="btn btn-link font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Contenido
                          </a>
                      </h5>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                          beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>

              </div>
              <div class="card">
                  <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                          <a class="btn btn-link font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Lugar
                          </a>
                      </h5>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                          beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-header" id="headingFor">
                      <h5 class="mb-0">
                          <a class="btn btn-link font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                              Inversión
                          </a>
                      </h5>
                  </div>
                  <div id="collapseFor" class="collapse" aria-labelledby="headingFor" data-parent="#accordionExample">
                      <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                          beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>
              </div>
              <div class="card">

                  <div class="card-header" id="headingFive">
                      <h5 class="mb-0">
                          <a class="btn btn-link font-weight-bold collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Inscripción y formas de pago
                          </a>
                      </h5>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                      <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
                          on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
                          beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                  </div>
              </div>

          </div>
      </div>
      <div class="col-md-4 align-self-start border mx-1 mt-2 p-3 shadow">
          <div class="d-block mb-4">
              <h4 class="text-center"> ¿ Te interesa ? envíanos tus datos </h4>
          </div>
          <form>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputEmail4">Nombres</label>
                      <input type="text" class="form-control" id="inputEmail4" placeholder="Nombres..">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputPassword4">Apellidos</label>
                      <input type="text" class="form-control" id="inputPassword4" placeholder="Apellidos..">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputCity">Correo Electrónico</label>
                      <input type="text" class="form-control" id="inputCity" placeholder="micorreo@correo.com">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputCity">Teléfono</label>
                      <input type="text" class="form-control" id="inputCity" placeholder="Teléfono">
                  </div>
              </div>
              <div class="form-group">
                  <label for="inputAddress2">Programa de interés</label>
                  <select id="inputState" class="form-control">
                          <option selected>Seleccionar..</option>
                          <option>Alta Gerencia</option>
                          <option>Diplomado en Innovación y Creatividad Estratégica</option>
                          <option>Diplomado en Gerencia integral</option>
                          <option>Diplomado en Mercadeo estratégico</option>
                          <option>Diplomado en Normas internacionales de información financiera NIIF</option>
                          <option>Diplomado en Normas Internacionales de Aseguramiento - NIAS</option>
                          <option>Diplomado en Gerencia de Crédito y Cartera</option>
                          <option>Diplomado en Uso estratégico de la propiedad intelectual</option>
                        </select>
              </div>
              <div class="form-group">
                  <label for="inputAddress2">Otro, ¿ Cual ?</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="¿ Cual ?">
              </div>
              <div class="form-group">
                  <label for="mensaje">Mensaje</label>
                  <textarea type="text" class="form-control" id="mensaje" rows="2" placeholder="¿ Qué nos quieres preguntar ?"></textarea>
              </div>
              <div class="form-group">
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" id="gridCheck">
                      <label class="form-check-label" for="gridCheck">
                          Acepto la política de tratamiento de datos
                      </label>
                  </div>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
      </div>
  </div>
</div>
