<!-- Titulo principal y redes sociales -->

<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container text-center">
        <h1 class="display-4">¿ Quiénes somos ?</h1>
        <p class="lead mb-4">Conoce más sobre nosotros en nuestras redes sociales..</p>
        <a class="btn btn-primary btn-lg mr-2" href="#"><i class="fab fa-facebook-square icono mr-2"></i>Facebook</a>
        <a class="btn btn-info btn-lg mr-2" href="#"><i class="fab fa-twitter-square icono mr-2"></i>Twitter</a>
        <a class="btn btn-danger btn-lg" href="#"><i class="fab fa-youtube icono mr-2"></i>YouTube</a>
    </div>
</div>

<!-- Fin Titulo principal y redes sociales -->

<!-- Contenido de nosotros -->

<div class="container-fluid mt-5 animated fadeIn">
    <div class="p-4 m-4 rounded shadow color-fondo d-sm-flex">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3 p-3 rounded">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active font-weight-bold" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true"><span class="far fa-building mr-2 icono"></span>Nosotros</a>
                    <a class="nav-link font-weight-bold" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false"><span class="far fa-smile-wink mr-2 icono"></span>Propósito</a>
                    <a class="nav-link font-weight-bold" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false"><span class="far fa-hand-point-up mr-2 icono"></span>Mision</a>
                    <a class="nav-link font-weight-bold" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false"><span class="fas fa-street-view mr-2 icono"></span>Vision</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-9">
                <div class="tab-content bg-light p-2 rounded shadow-sm" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="text-center p-1 d-block">
                            <span class="far fa-building ticono mb-2 text-primary"></span>
                            <h4> Nosotros </h4>
                        </div>
                        <p class="text-justify p-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut cum impedit voluptas corrupti voluptatum nisi itaque recusandae inventore nobis reiciendis rem et omnis, distinctio exercitationem. Quibusdam inventore laudantium, repellat cupiditate
                            debitis aspernatur ea nostrum aliquam ducimus explicabo sint. Veritatis quod deleniti vitae, perferendis quis consectetur voluptatum earum doloremque? Vitae quidem id atque aliquam, at perspiciatis facere, temporibus unde animi
                            repellat officia tempora, consequatur eligendi ipsum reiciendis? Ducimus eos dolorem unde placeat, tenetur soluta dolore corporis veritatis aspernatur esse mollitia enim totam in ullam itaque porro impedit maiores voluptatum
                            illo earum ipsam. Unde voluptate nulla tempore dignissimos. Nulla quae doloribus veniam aperiam soluta provident! Eligendi deleniti necessitatibus repudiandae, earum delectus quisquam excepturi ad, harum quibusdam nihil dolorem
                            explicabo mollitia officiis voluptas ab, reiciendis doloribus. Quas consequatur similique rerum, error dicta velit vel cupiditate, commodi asperiores expedita aliquid minus. Mollitia officia deleniti, fugit rem repudiandae
                            excepturi debitis sit ea culpa. Iusto.</p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <div class="text-center p-1 d-block">
                            <span class="far fa-smile-wink ticono mb-2 text-primary"></span>
                            <h4> Propósito </h4>
                        </div>
                        <p class="text-justify p-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae aut cum impedit voluptas corrupti voluptatum nisi itaque recusandae inventore nobis reiciendis rem et omnis, distinctio exercitationem. Quibusdam inventore laudantium, repellat cupiditate
                            debitis aspernatur ea nostrum aliquam ducimus explicabo sint. Veritatis quod deleniti vitae, perferendis quis consectetur voluptatum earum doloremque? Vitae quidem id atque aliquam, at perspiciatis facere, temporibus unde animi
                            repellat officia tempora, consequatur eligendi ipsum reiciendis? Ducimus eos dolorem unde placeat, tenetur soluta dolore corporis veritatis aspernatur esse mollitia enim totam in ullam itaque porro impedit maiores voluptatum
                            illo earum ipsam. Unde voluptate nulla tempore dignissimos. Nulla quae doloribus veniam aperiam soluta provident! Eligendi deleniti necessitatibus repudiandae, earum delectus quisquam excepturi ad, harum quibusdam nihil dolorem
                            explicabo mollitia officiis voluptas ab, reiciendis doloribus. Quas consequatur similique rerum, error dicta velit vel cupiditate, commodi asperiores expedita aliquid minus. Mollitia officia deleniti, fugit rem repudiandae
                            excepturi debitis sit ea culpa. Iusto.
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <div class="text-center p-1 d-block">
                            <span class="far fa-hand-point-up ticono mb-2 text-primary"></span>
                            <h4> Mision </h4>
                        </div>
                        <p class="text-justify p-3">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ab incidunt libero sapiente, quia quisquam autem, eius magnam inventore a, molestiae at in quidem magni mollitia sit nemo repellendus nesciunt nisi reiciendis repellat aspernatur labore sequi
                            voluptas? Nisi, deserunt saepe similique, sint, repellendus eligendi possimus recusandae aspernatur tempore amet deleniti
                        </p>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <div class="text-center p-1 d-block">
                            <span class="fas fa-street-view ticono mb-2 text-primary"></span>
                            <h4> Vision </h4>
                        </div>
                        <p class="text-justify p-3">
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. In ratione quis unde dolorum itaque, perspiciatis eius nisi distinctio doloribus odit soluta ducimus ab, provident quae dignissimos corrupti facilis. Sint harum magni quis aut tempora dignissimos
                            error ea in dicta reprehenderit, illo soluta, laborum saepe distinctio perferendis voluptatum. Modi, numquam ratione accusantium eum nam aliquid cumque nobis ea a? Deleniti eos omnis reprehenderit consequuntur impedit commodi
                            exercitationem doloribus possimus tempore odio? Minima consequuntur totam numquam, quisquam molestias natus nihil aspernatur labore quam commodi similique atque, perspiciatis odio libero consectetur vel provident sunt beatae
                            voluptate. Mollitia accusamus dicta itaque saepe ea tempore.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fin Contenido de nosotros -->
