<!--Inicio tutulo contactenos -->
    <div class="container animated fadeIn">
        <div class="row mt-5 text-center d-block ">
            <h5><span class="fas fa-phone-volume icono text-info"></span></h5>
            <p class="lead font-weight-bold">Contáctenos</p>
        </div>
    </div>

<!--Fin tutulo contactenos -->

<!-- Inicio formulario y mapa contactenos -->
<div class="container shadow p-5 my-4 border rounded animated fadeIn">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <form [formGroup]="contactenos" (ngSubmit)="enviarPregunta()">
              <div class="form-row">
                  <div class="form-group col-md-12" [ngClass]="{ 'has-danger': !contactenos.get('nombrecompleto').valid}" >

                      <label for="nombre">Nombres Completo</label>
                      <input type="text"
                            class="form-control"
                            placeholder="Nombre Completo"
                            formControlName="nombrecompleto">
                      <div *ngIf="contactenos.controls['nombrecompleto'].errors?.required"
                            class="form-control-feedback">
                             Su nombre es necesario
                     </div>
                     <div *ngIf="contactenos.controls['nombrecompleto'].errors?.minlength"
                            class="form-control-feedback">
                             Por lo menos 8 caracteres
                     </div>
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-6">

                      <label for="tel">Telefono</label>
                      <input type="tel"
                            class="form-control"
                            placeholder="Telefono.."
                            formControlName="telefono">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="email">Correo Electrónico</label>
                      <input type="email"
                            class="form-control"
                            placeholder="micorreo@correo.com"
                            formControlName="correo">
                       <div *ngIf="contactenos.controls['correo'].errors?.required"
                       class="form-control-feedback">
                        Su correo es necesario
                      </div>
                      <div *ngIf="contactenos.controls['correo'].errors?.pattern"
                            class="form-control-feedback">
                            Formato de correo incorrecta
                     </div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="mensaje">Mensaje</label>
                  <textarea type="text"
                            class="form-control"
                            rows="2"
                            placeholder="¿ Qué nos quieres preguntar ?"
                            formControlName="pregunta">
                  </textarea>
                  <div *ngIf="!contactenos.controls['pregunta'].valid"
                       class="form-control-feedback">
                        Su pregunta es necesaria
                  </div>
              </div>

              <button type="button" [disabled]="contactenos.invalid" class="btn btn-primary">Enviar</button>


          </form>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d7948.520680771376!2d-75.52938059704584!3d5.061496020449926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x8e476ffc2582a107%3A0xa3c7ccc099d3c9c8!2sParque+del+Agua%2C+Manizales%2C+Caldas!3m2!1d5.0671547!2d-75.52385!4m5!1s0x8e477aaad82a8661%3A0x68fa28ab90c76da4!2sCl.+4c+%2334a-2+a+34a-84%2C+Manizales%2C+Caldas!3m2!1d5.0593541!2d-75.5283972!5e0!3m2!1ses-419!2sco!4v1512381900915"
              allowfullscreen="" frameborder="0" class="w-100 h-100 border rounded shadow-sm"></iframe>
      </div>
  </div>
</div>

<!--Fin tutulo contactenos -->
