<div *ngIf="cargo">
    
    <!--inicio header de vista organizaciones -->
    <section class="text-center bg-light py-4" >
    
        <div class="container">
    
            <h2 class="mb-3">
                <!--Nombre dependencia o organizacion--> 
                <strong>Programas</strong>
            </h2>
    
            <div class="row">
                <div class= "col-xs-12 col-sm-4 col-lg-4 m-auto">
                    <div class=" shadow-sm rounded-circle pulse raise">
                        <!--URL link organizacion -->
                        <img [src]='eventoDep.imagen' class="animated pulse rounded-circle img-thumbnail" alt="">
                    </div>
                    <!--Nombre organizacion -->
                    <h3 class="mt-4 animated pulse">Facultad {{ eventoDep.nombre }}</h3>
                </div>
            </div>
    
        </div>
    
    </section>
    <!--fin header de vista organizaciones -->
    
    <!--inicio panel vista de facultades -->
    <div class="container-fluid">
        <div class="bg-trasparent m-4 p-3 ">
    
            <div class="row">
                <!--*ngfor recorre el objero organizacion dentro del mismo se encuentra el arreglo de de facultades--> 
                <div class="col-lg-3 col-sm-6 col-xs-12" *ngFor="let evento of eventoDep.depEvento ">
                    <!--animacion de aparecer desde el footer todos los elementos -->
                    <div class="mb-4 item animated fadeInUp">
                        <div class=" text-center mb-3 animated flip ">
                            <!--se trae el nombre de la facultad dentro del arreglo -->
                            <h4>{{evento.nombre}}
                            </h4>
                        </div>
                        <div>
                            <a [routerLink]="['/evento', evento.cod]">
                                <!--se trae la url de la imagen --> 
                                <img [src]='evento.imagen' class="img-fluid img mx-auto d-block rounded raise " />
                            </a>
                            <!-- se trae la informacion sobre la facultad -->
                            <p class="card-text text-center mt-3">{{evento.descrip}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--final panel vista de facultades -->
</div>