<div class="promo-video">

    <div class="contenido animated fadeIn">
        <div class="container-fluid">

            <p class="tituloGrande">CENTRO DE FORMACIÓN PARA CERTIFICACIONES</p>

            <div class="row">
                <div class="col-md-4">
                    <div class="login-container">
                        <div id="output"></div>
                        <a [routerLink]="['/organizaciones']"><img src="assets/img/logo_um.png" class="avatar" alt=""></a>
                        <div class="form-box">
                            <a [routerLink]="['/organizaciones']">
                                <h4>Universidad de Manizales</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="login-container">
                        <div id="output"></div>
                        <a href="#"><img src="assets/img/logoTic2.png" class="avatar" alt=""></a>
                        <div class="form-box">
                            <a href="#">
                                <h4>Tic Solutions Education</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="login-container">
                        <div id="output"></div>
                        <a [routerLink]="['/organizaciones']"><img src="assets/img/unc.png" class="avatar" alt=""></a>
                        <div class="form-box">
                            <a [routerLink]="['/organizaciones']">
                                <h4>Universidad Nacional</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <p class="subTitulo px-5">Nuestro propósito es complementar la formación de todos los profesionales con habilidades y competencias de pertinencia empresarial Nacional e Internacional
            </p>

        </div>
    </div>

    <div class="averlay"></div>

    <video autoplay loop [muted]="true">

      <source  src="assets/video/video_UdeManizales.mp4" type="video/mp4"/>

    </video>

</div>
