<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <div class="d-inline">
                <a class="navbar-brand font-weight-bold text-danger tituloP" [routerLink]="['/home']"> Training </a>
                <a class="navbar-brand font-weight-bold titulo text-white" [routerLink]="['/home']">Certifications Center</a>
            </div>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link font-weight-bold opciones text-white"  [routerLink]="['/home']" routerLinkActive="active">Inicio</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link font-weight-bold opciones text-white"  [routerLink]="['/nosotros']" routerLinkActive="active">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold opciones text-white"  [routerLink]="['/contactenos']" routerLinkActive="active">Contáctenos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Fin navbar -->
