/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800');
body {
    font-family: 'Dosis', sans-serif;
}


.raise:hover {
    box-shadow: 0 3px 3px 3px rgb(165, 162, 162);
    transform: translateY(-0.5em);
    transition-duration: 0.5s;
    
  }
  