<!-- Footer -->

<footer class="footer">
    <div class="container">
        <div class="row py-2">
            <div class="col-sm-6 text-center mb-1">
                <h4 class="text-uppercase mb-4">Ubicación</h4>
                <p class="lead mb-0">Calle 4D No. 34 A – 56, Manizales
                    <br>Barrio asturias</p>
            </div>
            <div class="col-sm-6 text-center">
                <h4 class="text-uppercase mb-4">Contáctenos</h4>
                <p class="lead mb-0">(+57)(6) 8909002
                    <br>314 894 2838</p>
            </div>
        </div>
    </div>
    <div class="copyright py-2 text-center text-white">
        <div class="container">
            <small>EMPOWERED BY TIC SOLUTIONS INTEGRATION S.A.S</small>
        </div>
    </div>
</footer>

<!-- Fin Footer -->